{% extends 'base.html' %}
{% load static %}


{% block Title %}
      <title>Profile</title>
{% endblock Title %}

{% block BODY %}
      {% include 'navbar.html' %}
      {% if messages %}
            {% for message in messages %}
                  <div {% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded"{% endif %}><i class="fa fa-check" aria-hidden="true"></i> {{ message }}</div>
            {% endfor %}
      {% endif %}
      <div class="wrapper bg-white mt-sm-5">
      <h4 class="pb-4 border-bottom">Profile Settings</h4>
      <div class="d-flex align-items-start py-3 border-bottom">
      <img
            src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img" alt="">
      <div class="pl-sm-4 pl-2" id="img-section">
            <b>Upload Profile Image</b>
            <p>Max: 1MB.</p>
            <button class="btn button border"><b><i class="fa fa-folder-open-o" aria-hidden="true"></i> Upload</b>
            </button>
      </div>
      </div>
      <div class="py-2">
      <div class="row py-2">
            <div class="col-md-6">
                  <label for="firstname">Name</label>
                  <input value="{{ user.first_name }}" type="text" class="bg-light form-control">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                  <label for="lastname">Surname</label>
                  <input value="{{ user.last_name }}" type="text" class="bg-light form-control">
            </div>
      </div>
      <div class="row py-2">
            <div class="col-md-6"><label for="email">Email Adress</label> <input value="{{ user.email }}"
            type="text"
            class="bg-light form-control"
            placeholder="mail@email.com"></div>
            <div class="col-md-6 pt-md-0 pt-3"><label for="phone">Phone Number</label> <input
            value="{{ user.phoneNumber|default_if_none:'' }}" type="tel" class="bg-light form-control"
            placeholder="543 555 4433"></div>
      </div>
      <div class="row py-2">
            <div class="col-md-6">
                  <label>Current Password</label>
                  <input type="password" class="bg-light form-control">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                  <label>New Password</label>
                  <input class="bg-light form-control">
            </div>
      </div>
      <div class="row py-2">
            <div class="col-md-6">
            <label for="country">My Adress</label>
            <select name="country" id="country"
                  class="bg-light">
                  {% for address in userAddress %}
                  <option data-address="{{ address.id }}" value="{{ address.id }}">{{ address }}</option>
                  {% endfor %}
            </select>
            </div>
            <div class="col-md-6 pt-4">
            <div class="row">
                  <div class="col-md-6">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAddress">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Adress</button>
                  </div>
                  <div class="col-md-6">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAddress">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete Adress</button>
                  </div>
            </div>
            </div>
            <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-primary btn-block mr-3"><i class="fa fa-floppy-o"></i><a href="#" style="text-decoration: none;color:white"> Save</a></button>
            </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
            <div>
                  <b>Close Account</b>
                  <p>If you delete your account, all your saved data will be deleted.</p>
            </div>
            <div class="ml-auto">
                  <button class="btn danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete My Account</button>
            </div>
            </div>
      </div>
      </div>
      <!-- DELETE ADDRESS MODAL -->
      <div class="modal fade" id="deleteAddress" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title">Delete Adress</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                  Are you sure you want to delete the address?
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete
                  </button>
            </div>
            </div>
      </div>
      </div>
      <div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Add Adress</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form action="{% url 'USERAPP:profile' %}" method="post">
                  {{ adresForm }}
                  {% csrf_token %}
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success"> Add Adress</button>
                  </div>
            </form>
            </div>
      </div>
      </div>
      <a href="{% url 'PRODUCTS:products' %}">Products</a>
      <a href="{% url 'ORDERS:payment' %}">Payment</a>
      <a href="{% url 'USERAPP:cart' %}">Basket</a>
      <a href="{% url 'USERAPP:checkout' %}">Checkout</a>
{% endblock BODY %}